.carousel_blog.row
        .container(style="width:100%;")
            .row(style="text-align:center;margin-bottom:42px;")
                .col-lg-7.col-md-6.offset-lg-2.offset-md-1.title
                        h1 Latest Blog
                        p Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam,pellentesque faucibus. Vestibulum gravida volutpat ipsum non ultrices.
            .row.blogs
                .swiper-container#swiper-container-3
                    .swiper-wrapper
                            .swiper-slide
                                .image.row(style="height:60%;")
                                        img(src="../img/post/post-1-mid.jpg" width="100%" height="auto")
                                .text.row(style="height:40%;")
                                   .container
                                        a(href="#") Why you should Always First
                                        span August 14, 2016
                                        p Lights give have herb. First. Seed lesser his a fruit. Stars good divide fish appear don't, third deep.
                            .swiper-slide
                                .image.row(style="height:60%;")
                                        img(src="../img/post/post-3-mid.jpg" width="100%" height="auto")
                                .text.row(style="height:40%;")
                                    .container
                                        a(href="#") Why you should Always First
                                        span August 14, 2016
                                        p Lights give have herb. First. Seed lesser his a fruit. Stars good divide fish appear don't, third deep.
                            .swiper-slide
                                .image.row(style="height:60%;")
                                        img(src="../img/post/post-4-mid.jpg" width="100%" height="auto")
                                .text.row(style="height:40%;")
                                    .container
                                        a(href="#") Why you should Always First
                                        span August 14, 2016
                                        p Lights give have herb. First. Seed lesser his a fruit. Stars good divide fish appear don't, third deep.
                            .swiper-slide
                                .image.row(style="height:60%;")
                                        img(src="../img/post/post-5-mid.jpg" width="100%" height="auto")
                                .text.row(style="height:40%;")
                                    .container
                                        a(href="#") Why you should Always First
                                        span August 14, 2016
                                        p Lights give have herb. First. Seed lesser his a fruit. Stars good divide fish appear don't, third deep.
                            .swiper-slide
                                .image.row(style="height:60%;")
                                        img(src="../img/post/post-6-mid.jpg" width="100%" height="auto")
                                .text.row(style="height:40%;")
                                    .container
                                        a(href="#") Why you should Always First
                                        span August 14, 2016
                                        p Lights give have herb. First. Seed lesser his a fruit. Stars good divide fish appear don't, third deep.
                    .swiper-pagination            