.carousel_multi_partner.row
        .container(style="width:100%;")
            .row(style="height:100%;")
                .swiper-container#swiper-container-2
                    .swiper-wrapper
                        .swiper-slide
                            img(src="../img/partner/partner-logo-1-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-2-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-3-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-4-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-5-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-6-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-7-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-5-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-4-dark.png" width="100%" height="auto")
                        .swiper-slide
                            img(src="../img/partner/partner-logo-3-dark.png" width="100%" height="auto")       