.carousel-text.row
        .swiper-container#swiper-container-1
            .swiper-wrapper
                .swiper-slide
                    .container(style="width:58%;padding:0;")
                         p "Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap."
                         span Michael Hopkins
                .swiper-slide
                    .container(style="width:58%;padding:0;")
                         p "Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap."
                         span Michael Hopkins
                .swiper-slide
                   .container(style="width:58%;padding:0;")
                         p "Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap."
                         span Michael Hopkins
            .swiper-pagination    