.contact_us.row
    .container(style="width:87%;padding:0;")
            .col-lg-6.col-md-12.contact_info
                    .row.content-text
                        h1  Contact Info:
                        p   Praesent interdum congue mauris, et fringilla lacus pel vitae. Quisque nisl mauris, aliquam eu ultrices vel, conse vitae sapien at imperdiet risus. Quisque cursus risus id. fermentum, in auctor quam consectetur.
                         ul
                            li
                                strong Address
                                p 10111 Santa Monica Boulevard, LA 
                            li
                                strong Phone
                                p +44 987 065 908
                            li
                                strong Email
                                p info@Example.com 
                            li
                                strong Fax
                                p +44 987 065 909      
            .col-lg-6.col-md-12.form_send_msg
                 form
                    .row.input-vertical
                        .col-md-6(style="padding-left:0;")
                             input.form-control(type="text" placeholder="Your Name")
                        .col-md-6(style="padding-left:0;") 
                             input.form-control(type="email" placeholder="Your Email")
                        input.form-control(type="text" placeholder="Your Title")
                        textarea.form-control(placeholder="You Comment")
                        button(type="submit") SEND MESSAGE