.feature.row
    .container
        .row
            .col-lg-3.col-md-6(style="margin-top:28px;")
                span.fa.fa-archive(style="font-size:40px;float:left;")
                .just-text
                    h1 548
                    p  PROJECTS COMPLETED
            .col-lg-3.col-md-6(style="margin-top:28px;")
                span.fa.fa-clock-o(style="font-size:40px;float:left;")
                .just-text
                    h1 1465
                    p  WORKING HOURS
            .col-lg-3.col-md-6(style="margin-top:28px;")
                span.fa.fa-star-o(style="font-size:40px;float:left;")
                .just-text
                    h1 612
                    p POSITIVE FEEDBACKS
            .col-lg-3.col-md-6(style="margin-top:28px;")
                span.fa.fa-heart-o(style="font-size:40px;float:left;")
                .just-text
                    h1 735
                    p  HAPPY CLIENTS