footer.footer.row
    .container(style="width:31%;")
        .row
            .row.social-media
                ul
                  li
                    a(href="#")
                        span.fa.fa-twitter
                  li
                    a(href="#")    
                        span.fa.fa-facebook
                  li
                    a(href="#")
                        span.fa.fa-dribbble
                  li
                    a(href="#")    
                        span.fa.fa-instagram 
            .footer-text.row 
                    p 2016 © Design by Unvab. Code by nK