header.header.row
        .header-top.row
            .container(style="width:90%;")
              nav.navbar.navbar-toggleable-sm.navbar-light#main-nav(style="padding-top:25px;height:100%;")
                  button.navbar-toggler.navbar-toggler-right#btn_menu_sm(type="button" data-toggle="collapse" data-target="" style="border:none;")
                        span.fa.fa-bars(style="font-size:22px;")
                  .logo-brand
                    a.link-logo(href="#")
                      img#img1(src="../img/logo-light.svg" width="85" height="auto" style="display:inline-block;")
                      img#img2(src="../img/logo.svg" width="85" height="auto" style="display:none;")
                  .menu.col-lg-10.collapse.navbar-collapse.justify-content-end#mainNav
                     ul
                        li
                         a(href="#") About
                        li
                         a(href="#") Contact
                        li
                         a(href="#") Portfolio
                        li
                         a(href="#") BLog
                        li
                         a(href="#") Wordpress Theme
        .header-bottom.row 
                .container(style="text-align:center;")
                    h2 NEW BRANDING AGENCY
                    h1 We are about to change the way <br />
                        em(style="font-weight:400;") you publish on the web
                    a.btn_download(href="#") FREE DOWNLOAD
                    <br />
                    a.btn_scroll_down(href="#about")
                        i.fa.fa-angle-down(style="margin-top:14px;")