.contact_us
    padding-bottom 100px;
    background #F6F6F6;
    padding-top 60px;
    .contact_info
        float left;
        .content-text
            h1
                color #171717;
                margin-bottom 30px;
                font-weight 700;
                font-family Playfair Display,serif;
            p
                font-family Work Sans,sans-serif;
                color #5f5f5f;
                font-size 14px;
            ul
              padding 0;    
              li
                list-style none;  
                p
                  margin-left 14px;
                  display inline-block;
    .form_send_msg
        float right;
        input
            border none;
            height 51px;
            color #55595c;
            font-size 13px;
            letter-spacing 1px;
            padding-left 20px;
            margin-top 30px;
        textarea
            border none;
            color #55595c;
            font-size 13px;
            letter-spacing 1px;
            padding-left 20px;
            margin-top 30px;
            height 171px;
        button
            height 53px;
            border none;
            width 162px;
            background #252525;
            color white;
            margin-top 25px;
            font-size 14px;
            transition all .3s ease;
            cursor pointer;
            &:hover
                background #534E4E;
                