.feature
    color white;
    padding-top 95px;
    padding-bottom 95px;
    background url(../img/bg-pattern.jpg);
    .just-text

        h1
            font-size 19px;
            margin-left 60px;
        p
            font-size 14px;
            margin-left 60px;