.footer
    height 200px;
    background #EBEBEB;
    padding-top 50px;
    .social-media
        ul
            display flex;
            li
                list-style none;
                a
                    margin 11px;
                    span
                        color #969696;
                        transition all .5s ease;
                        font-size 1.13rem;
                        &:hover
                            color #222222;
    .footer-text
        p
          color #6D6D6D;
          font-size 14px;