body
    padding 0;
    margin 0;
    background white;
.row
    margin 0;
    width 100%;
.page-wrapper
    min-height 100vh;
    width 100%;
    position relative;
    .navbar-full-menu-sm
        width 100%;
        height 100%;
        z-index 99;
        position fixed;
        top 0;
        left 0;
        right 0;
        background url(../img/bg-menu.jpg);
        display none;
        .top
            height 85px;
            padding-top 24px;
            #cross
                font-size 28px;
                color white;
                float right;
        .nav-menu
             height 400px;
             padding-top 70px;
             padding-bottom 40px;
             ul
                width 100%;
                text-align center;
                padding 0;
                li
                   list-style none;    
                   a
                     font-size 25px;
                     padding 3px 0px;
                     color #D5D5D5;
                     text-decoration none;
                     font-family Playfair Display,serif;
                     font-weight 700;
             
        .footer-nav
            height 200px;
            ul
               display flex;
               li
                  list-style none;    
                  a
                    margin 11px;  
                    span
                        color #969696;
                        transition all .5s ease;
                        font-size 1.13rem;