.header {
  background: url("../img/home-7.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 43px;
  position: relative;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
.header .header-top {
  z-index: 99;
  height: 83px;
  position: fixed;
  top: 0;
  left: 0;
}
.header .header-top .logo-brand {
  height: 100%;
  float: left;
  padding-top: 0;
}
.header .header-top .menu {
  height: 100%;
  float: right;
  padding: 0;
}
.header .header-top .menu ul {
  display: flex;
  float: right;
  height: 100%;
}
.header .header-top .menu ul li {
  list-style: none;
  line-height: 42px;
}
.header .header-top .menu ul li a {
  text-transform: uppercase;
  padding: 0px 26px 0px 17px;
  color: #bfbfbf;
  text-decoration: none;
  font-size: 11px;
  transition: all 0.2s ease;
  font-weight: 600;
}
.header .header-top .menu ul li a:hover {
  color: #fff;
}
.header .header-bottom {
  padding-top: 190px;
}
.header .header-bottom h2 {
  font-size: 14px;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.header .header-bottom h1 {
  font-size: 48px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 60px;
}
.header .header-bottom h1 em {
  font-family: Playfair Display, serif;
}
.header .header-bottom .btn_download {
  padding: 20px 35px 20px 35px;
  color: #fff;
  text-decoration: none;
  background: #252525;
  font-size: 13px;
  transition: all 0.4s ease;
}
.header .header-bottom .btn_download:hover {
  background: #3b3b3b;
}
.header .header-bottom .btn_scroll_down {
  width: 45px;
  height: 45px;
  border: 1px solid #b3aca7;
  display: inline-block;
  border-radius: 40px;
  margin-top: 113px;
  color: #b3aca7;
  transition: all 0.3s ease;
}
.header .header-bottom .btn_scroll_down:hover {
  border: 1px solid #fff;
  color: #fff;
}
